{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block scripts %}
    <script>
        function updateControls() {
            document.getElementById("settings").hidden = !document.getElementById("enabled").checked;
        }

        window.addEventListener("load", function () {
            document.getElementById("enabled").addEventListener("click", updateControls);
            updateControls();
        });
    </script>
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">{% translate "Settings" %}</h5>
            </div>
            <div class="card-body">
                <div class="form-group form-check">
                    <input id="enabled" class="form-check-input"
                           type="checkbox" name="enabled"{% if enabled %}
                           checked{% endif %}>
                    <label class="form-check-label" for="enabled">
                        {% translate "Enable Support Chat" %}
                    </label>
                </div>

                <div id="settings">
                    <div class="form-group form-check">
                        <input id="disableChatIfOffline" class="form-check-input"
                               type="checkbox" name="disableChatIfOffline"{% if disable_chat_if_offline %}
                               checked{% endif %}>
                        <label class="form-check-label" for="disableChatIfOffline">
                            {% translate "Disable Support Chat if offline" %}
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="messageMaxLength">
                            {% translate "Maximum message length" %}
                        </label>
                        <input id="messageMaxLength" class="form-control"
                               type="number" name="messageMaxLength" value="{{ message_max_length }}" required>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">
                    {% translate "Save" %}
                </button>
            </div>
        </div>
    </form>
{% endblock %}
