.card.direct-chat.disabled > :not(.card-header),
.card.direct-chat.disabled > .card-header > :not(.card-title),
.card.direct-chat.disabled > .card-header > .card-title:not(.offline) {
    display: none !important;
}

.card.direct-chat:not(.disabled) > .card-header > .card-title.offline {
    display: none !important;
}

.right .direct-chat-text {
    margin-left: 3rem;
    margin-right: 0.4rem;
}

.left .direct-chat-text {
    margin-right: 3rem;
    margin-left: 0.4rem;
}

.direct-chat-text::before {
    border-width: 0.4rem;
}

.direct-chat-text::after {
    border-width: 0.35rem;
}

.direct-chat-text::before, .direct-chat-text::after {
    top: 100%;
    margin-top: 0;
    transform: translate(0, calc(-100% - 0.3rem));
}

.card-header.uniform {
    flex-shrink: 0;
    height: 3.1rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-footer.fix-height {
    height: 6.5rem !important;
    flex-grow: 0;
    flex-shrink: 0;
}

.card-footer.fix-height > * {
    height: 100% !important;
}

.spaced > * {
    margin: 0 0.2rem;
}

.loading-spinner.fade, .loading-spinner.fade > .circle {
    transition: height, font-size, opacity, visibility;
    transition-duration: 500ms;
}

.loading-spinner {
    height: 3.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-spinner:not(.show) {
    height: 0;
}

.loading-spinner > .circle {
    font-size: 2rem;
}

.loading-spinner:not(.show) > .circle {
    font-size: 0;
    opacity: 0;
    visibility: hidden;
}

/* first set pre-line in case break-spaces is not supported */
.direct-chat-text {
    white-space: pre-line;
}

.direct-chat-text {
    white-space: break-spaces;
}

.message-input {
    white-space: pre-line;
}

.message-input {
    resize: none;
    white-space: break-spaces;
}
