{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block scripts %}
    <script>
        function deleteRoomConfig(url) {
            jQuery('#delete_room_config_delete').attr('href', url);
            jQuery('#delete_room_config_delete_modal').modal('toggle');
        }
    </script>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" id="table_desc">{% trans "Room types" %}</h3>
                            {% if request.user.is_staff %}
                                <div class="card-tools">
                                    <a class="btn btn-sm btn-default float-right" href="{% url 'room_config_create' %}"><em
                                            class="fas fa-plus"></em></a>
                                </div>
                            {% endif %}
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table aria-describedby="table_desc" class="table table-hover table-sm">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">{% trans "Name" %}</th>
                                    <th scope="col" class="text-center">{% trans "Access code" %}</th>
                                    <th scope="col" class="text-center">{% trans "Only prompt guests for access code" %}</th>
                                    <th scope="col" class="text-center">{% trans "Everyone is muted on start" %}</th>
                                    <th scope="col" class="text-center">{% trans "Moderation mode" %}</th>
                                    <th scope="col" class="text-center">{% trans "Everyone can start meeting" %}</th>
                                    <th scope="col"
                                        class="text-center">{% trans "Every authenticated user can start meeting" %}</th>
                                    <th scope="col"
                                        class="text-center">{% trans "Disable camera for non-moderators" %}</th>
                                    <th scope="col"
                                        class="text-center">{% trans "Disable microphone for non-moderators" %}</th>
                                    <th scope="col" class="text-center">{% trans "Allow guest entry" %}</th>
                                    <th scope="col" class="text-center">{% trans "Allow recording" %}</th>
                                    <th scope="col" class="text-center">{% trans "Guest policy" %}</th>
                                    <th scope="col"
                                        {% if not request.user.is_staff %}class="text-center"{% endif %}>{% trans "Max. Number of participants" %}</th>
                                    {% if request.user.is_staff %}
                                        <th scope="col" class="text-right">{% trans "Action" %}</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                <!-- empty table row to fix data table tooltip bug with only one entry -->
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% for config in configs %}
                                    <tr>
                                        <td>{{ config.name }}</td>
                                        {% if request.user.is_staff %}
                                            <td>{{ config.access_code|default_if_none:"" }}</td>
                                        {% else %}
                                            <td class="text-center">
                                                {% if config.access_code %}
                                                    {% include "template_boolean_tables.html" with condition=1 %}
                                                {% else %}
                                                    {% include "template_boolean_tables.html" with condition=0 %}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        <td class="text-center">
                                            {% include "template_boolean_tables.html" with condition=config.only_prompt_guests_for_access_code %}
                                        </td>
                                        <td class="text-center">
                                            {% include "template_boolean_tables.html" with condition=config.mute_on_start %}
                                        </td>
                                        <td class="text-center">
                                            {% if config.moderation_mode == "EVERYONE" %}
                                                {% include "template_boolean_tables.html" with condition=1 %}
                                            {% elif config.moderation_mode == "ALL_MODERATORS" %}
                                                {% include "template_boolean_tables.html" with condition=2 %}
                                            {% else %}
                                                {% include "template_boolean_tables.html" with condition=0 %}
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% include "template_boolean_tables.html" with condition=config.everyone_can_start %}
                                        </td>
                                        <td class="text-center">
                                            {% include "template_boolean_tables.html" with condition=config.authenticated_user_can_start %}
                                        </td>
                                        <td class="text-center">
                                            {% include "template_boolean_tables.html" with condition=config.disable_cam %}
                                        </td>
                                        <td class="text-center">
                                            {% include "template_boolean_tables.html" with condition=config.disable_mic %}
                                        </td>
                                        <td class="text-center">
                                            {% include "template_boolean_tables.html" with condition=config.allow_guest_entry %}
                                        </td>
                                        <td class="text-center">
                                            {% include "template_boolean_tables.html" with condition=config.allow_recording %}
                                        </td>
                                        <td class="text-center">
                                            {% if config.guest_policy == "ALWAYS_ACCEPT" %}
                                                {% include "template_boolean_tables.html" with condition=1 %}
                                            {% elif config.guest_policy == "ASK_MODERATOR" %}
                                                {% include "template_boolean_tables.html" with condition=2 %}
                                            {% else %}
                                                {% include "template_boolean_tables.html" with condition=0 %}
                                            {% endif %}

                                        </td>
                                        {% if request.user.is_staff %}
                                            <td>{{ config.maxParticipants|default_if_none:"" }}</td>
                                        {% else %}
                                            <td class="text-center">
                                                {% if config.maxParticipants %}
                                                    {% include "template_boolean_tables.html" with condition=1 %}
                                                {% else %}
                                                    {% include "template_boolean_tables.html" with condition=0 %}
                                                {% endif %}
                                            </td>
                                        {% endif %}


                                        {% if request.user.is_staff %}
                                            <td>

                                                <div class="btn-group btn-group-sm float-right">
                                                    <a class="btn btn-success"
                                                       href="{% url 'room_config_update' config.pk %}"
                                                       data-toggle="tooltip" data-placement="top"
                                                       title="{% trans "Edit" %}">
                                                        <em class="fas fa-pen"></em>
                                                    </a>
                                                    <button class="btn btn-danger"
                                                            onclick="deleteRoomConfig('{% url "room_config_delete" config.pk %}')"
                                                            data-toggle="tooltip" data-placement="top"
                                                            title="{% trans "Delete" %}">
                                                        <em class="fas fa-trash-alt"></em>
                                                    </button>
                                                </div>

                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if request.user.is_staff %}
        <div id="delete_room_config_delete_modal" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="CenterModalLabel"
             aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="CenterModalLabel">{% trans "Delete room config" %}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        {% trans "Are you sure you want to delete the room configuration?" %}
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger" href=""
                           data-toggle="tooltip" data-placement="top" title="Löschen" id="delete_room_config_delete">
                            {% trans "Delete" %}
                        </a>
                        <button type="button" class="btn btn-secondary waves-effect"
                                data-dismiss="modal">{% trans "Cancel" %}</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    {% endif %}
{% endblock %}
