{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block scripts %}
    <script>
        function deleteTenant(url) {
            jQuery('#delete_scheduling_strategy').attr('href', url);
            jQuery('#delete_scheduling_strategy_modal').modal('toggle');
        }

        function revealToken(id) {
            let input = jQuery('#scheduling_token_' + id)
            let pictogram = jQuery('#picto_scheduling_token_' + id)
            if (input.attr("type") === "password") {
                input.attr("type", "text");
                pictogram.removeClass("fa-eye");
                pictogram.addClass("fa-eye-slash");
            } else {
                input.attr("type", "password");
                pictogram.removeClass("fa-eye-slash");
                pictogram.addClass("fa-eye");
            }

        }

        function copySecret(value) {
            copyToClipboard(value).then(function () {
                toastr.success('The content has successfully been copied to the clipboard.'); // TODO translation
            }, function () {
                toastr.error('Your Browser does not support copying to the clipboard.'); // TODO translation
            });
        }
    </script>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-1">
                <div class="col-12 card">
                    <div class="card-body">
                        {% crispy filter.form filter.form.helper %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title" id="table_desc">{% trans "Scheduling Strategies overview" %}<span
                                    class="badge badge-pill badge-primary ml-1">{{ filter.qs.count }}</span></h3>
                            <div class="card-tools">
                                <a class="btn btn-sm btn-default float-right"
                                   href="{% url 'scheduling_strategy_create' %}"><em
                                        class="fas fa-plus"></em></a>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table aria-describedby="table_desc" class="table table-hover table-sm">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">{% trans "Name" %}</th>
                                    <th scope="col">{% trans "Scheduling Strategy" %}</th>
                                    <th scope="col">{% trans "Registration Token" %}</th>
                                    <th scope="col">{% trans "Tenants" %}</th>
                                    <th scope="col">{% trans "Description" %}</th>
                                    <th scope="col">{% trans "Email Notifications" %}</th>
                                    <th scope="col" class="text-right">{% trans "Action" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- empty table row to fix data table tooltip bug with only one entry -->
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% for scheduling_strategy in filter.qs %}
                                    <tr>
                                        <td>{{ scheduling_strategy.name }}</td>
                                        <td>{{ scheduling_strategy.get_scheduling_strategy_display }}</td>
                                        <td>
                                            <div class="input-group input-group-sm">
                                                <input type="password" class="form-control"
                                                       value="{{ scheduling_strategy.token_registration }}"
                                                       id="scheduling_token_{{ scheduling_strategy.pk }}">
                                                <span class="input-group-append">
                                                    <button type="button" class="btn btn-secondary btn-flat"
                                                            onclick="revealToken({{ scheduling_strategy.pk }})">
                                                        <em class="fa fa-sm fa-eye"
                                                            id="picto_scheduling_token_{{ scheduling_strategy.pk }}">
                                                        </em>
                                                    </button>
                                                    <button type="button" class="btn btn-success btn-flat"
                                                            onclick="copySecret('{{ scheduling_strategy.token_registration }}')">
                                                        <em class="fa fa-sm fa-copy">
                                                        </em>
                                                    </button>
                                                  </span>
                                            </div>
                                        </td>
                                        <td>{% for tenant in scheduling_strategy.tenants.all %} -
                                            {{ tenant.name }}{% endfor %}</td>
                                        <td>{{ scheduling_strategy.description|default_if_none:"" }}</td>
                                        <td>{{ scheduling_strategy.notifications_emails }}</td>
                                        <td>
                                            <div class="btn-group btn-group-sm float-right">
                                                <a class="btn btn-success"
                                                   href="{% url 'scheduling_strategy_update' scheduling_strategy.pk %}"
                                                   data-toggle="tooltip" data-placement="top"
                                                   title="{% trans "Edit" %}">
                                                    <em class="fas fa-pen"></em>
                                                </a>
                                                <button class="btn btn-danger"
                                                        onclick="deleteTenant('{% url "scheduling_strategy_delete" scheduling_strategy.pk %}')"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="{% trans "Delete" %}">
                                                    <em class="fas fa-trash-alt"></em>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="delete_scheduling_strategy_modal" class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="CenterModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="CenterModalLabel">{% trans "Delete scheduling strategy" %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    {% trans "Are you sure you want to delete the scheduling strategy?" %}
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger" href=""
                       data-toggle="tooltip" data-placement="top" title="Löschen" id="delete_scheduling_strategy">
                        {% trans "Delete" %}
                    </a>
                    <button type="button" class="btn btn-secondary waves-effect"
                            data-dismiss="modal">{% trans "Cancel" %}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{% endblock %}
